{% extends "auctions/layout.html" %}

{% block main %}
    <h2>{{ header_text }}</h2>

    <div class = "row">
        {% for list in listings %}
            <div class="card" style = "width: 18rem;">
                <img class = "card-img-top" src = "list.imageUrl" alt = "{{list.title}}">
                <div class = "card-body">
                    <h5 class = "card-title">{{ list.title }}</h5>
                    <p class="card-text">{{ list.description }}</p>
                    <a href = "#" class = "btn btn-primary">Listing</a>
                </div>
            </div>
        {% endfor %}   
    </div> 
{% endblock %}
